.root{
    -fx-background-color:#383838;
    -fx-font-size: 18pt;
}

.button{
    -fx-font-size: 16pt;
}

.btn-quit:hover{
    -fx-background-color:#db1811;
    -fx-text-fill:#FFFF;
}

.btn-begin:hover{
    -fx-background-color:#0d6318;
    -fx-text-fill:#FFFF;
}